/*
* This file used for define the theme
*/

/* --------- DECLARE FONTS ------------ */
@font-face {
    font-family: 'Manic';
    src:
        local('dist/fonts/MANICAlternates1.woff')
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Medium_Italic.woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Thin.woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Thin_Italic.woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Bold_Italic.woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Heavy.woff');
    font-weight: 800;
}
@font-face {
    font-family: 'Korolev';
    src: local('dist/fonts/Korolev_Heavy_Italic.woff');
    font-weight: 800;
    font-style: italic;
}

/* ---------- FONTS -------------- */
$font-normal: 'Roboto Condensed', sans-serif; // Changement pour correction des police manquante
$font-manic: 'Manic';

/* ----------- COLORS ------------- */
$gris_colore: #191F23;
$bleu: #1B2E47;
$jaune: #F5EB69;

$yellow-dark: #efc425;
$gris-light: #F6F6F6;
$black: #000000;
$white: #FFFFFF;
