/*
* This file used for stylizing ids and classes custom
*/

// Use color-scheme file
@use 'color-scheme' as t;

// ---------- Buttons
.btn-icon_secondary {
    background-color: t.$jaune;
    border: 1px solid t.$jaune;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 300ms;
    &:hover {
        background-color: rgba(t.$jaune, 0.3);
        color: t.$yellow-dark;
    }
}
.btn-icon_secondary_2 {
    background-color: t.$jaune;
    border: 1px solid t.$jaune;
    padding: 7px 13px;
    border-radius: 100%;
    transition-duration: 300ms;
    &:hover {
        background-color: rgba(t.$jaune, 0.3);
        color: t.$yellow-dark;
        cursor: pointer;
    }
}
.btn-icon_transparent {
    padding: 10px;
    border-radius: 5px;
    transition-duration: 300ms;
    &:hover {
        color: t.$yellow-dark;
    }
}
.btn-sidebar {
    display: block;
    font-family: t.$font-normal;
    font-size: 16px;
    padding: 15px 20px;
    color: t.$bleu;
    border-right: 2px solid transparent;
    transition-duration: 300ms;
    &:hover {
        border-right: 2px solid t.$bleu;
        background-color: rgba(t.$black, 0.1);
    }
}
.btn-sidebar_back {
    display: block;
    font-family: t.$font-normal;
    font-size: 16px;
    padding: 15px 20px;
    color: t.$bleu;
    border-right: 2px solid transparent;
    border-bottom: 1px solid t.$bleu;
    transition-duration: 300ms;
    &:hover {
        border-right: 2px solid t.$bleu;
        background-color: rgba(t.$black, 0.1);
    }
}
.btn-sidebar_active {
    background-color: t.$jaune;
    &:hover {
        border-right: 2px solid t.$bleu;
        background-color: t.$jaune;
    }
}
.btn-outline_primary {
    border: 1px solid t.$bleu;
    color: t.$bleu;
    padding: 7px 15px;
    border-radius: 10px;
    transition-duration: 300ms;
    &:hover {
        background-color: t.$bleu;
        color: t.$white;
    }
}
.btn-filled_secondary {
    background-color: t.$jaune;
    border: 1px solid t.$jaune;
    padding: 7px 20px;
    border-radius: 10px;
    transition-duration: 300ms;
    &:hover {
        background-color: rgba(t.$jaune, 0.2);
    }
}
.btn-filled_primary {
    background-color: t.$bleu;
    border: 1px solid t.$bleu;
    color: t.$white;
    padding: 7px 20px;
    border-radius: 10px;
    transition-duration: 300ms;
    &:hover {
        background-color: rgba(t.$bleu, 0.2);
        color: t.$bleu;
    }
}
#btn_floating {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: t.$jaune;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid rgba(t.$black, 0.1);
    box-shadow: 0 4px 10px rgba(t.$black, 0.1);
    transition-duration: 300ms;
    z-index: 999;
    &:hover {
        transform: scale(1.1);
    }
}
#btn_floating-blue {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: t.$bleu;
    color: t.$white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid rgba(t.$black, 0.1);
    box-shadow: 0 4px 10px rgba(t.$black, 0.1);
    transition-duration: 300ms;
    &:hover {
        transform: scale(1.1);
    }
}
.btn-outline_gray {
    border: 1px solid rgba(t.$black, 0.1);
    padding: 7px 15px;
    border-radius: 5px;
    color: t.$bleu;
    transition-duration: 300ms;
    cursor: pointer;
    &:hover {
        background-color: t.$bleu;
        color: t.$white;
    }
}
.btn-container-float {
    z-index: 9999;
    background-color: t.$jaune;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid rgba(t.$black, 0.1);
    box-shadow: 0 4px 10px rgba(t.$black, 0.1);
    transition-duration: 300ms;
    &:hover {
        transform: scale(1.1);
    }
}
.btn-container-float-gray {
    background-color: t.$gris-light;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid rgba(t.$black, 0.1);
    box-shadow: 0 4px 10px rgba(t.$black, 0.1);
    transition-duration: 300ms;
    &:hover {
        transform: scale(1.1);
    }
}

// ---------- Carousel
.carousel-single_title {
    padding: 10% 0;
    text-align: center;
    background-size: cover;
    h1 {
        font-size: 40px;
        font-weight: 700;
        color: t.$white;
        text-shadow: 0 4px 7px rgba(t.$black, 1);
    }
}
.carousel-primary {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;

    .slides-container {
        height: 100%;
        width: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .slide {
            background-size: cover;
            width: 100%;
            height: 100%;
            flex: 1 0 100%;
        }
    }

    .slide-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
        margin: auto;
        font-size: 20px;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 100ms;
    }

    .slide-arrow:hover, .slide-arrow:focus {
        opacity: 1;
    }

    #slide-arrow-prev {
        left: 0;
        margin-left: 30px;
        border-radius: 100%;
    }
    #slide-arrow-next {
        right: 0;
        margin-right: 30px;
        border-radius: 100%;
    }

    .section-divider {
        display: block;
        position: absolute;
        left: 0;
        margin-top: -45px;
        width: 100%;
        height: auto;
    }
}
.carousel-primary_single {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;

    .section-divider {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-top: -55px;
        width: 100%;
        height: auto;
        z-index: 1;
    }
}
.carousel-scroll_line {
    overflow-x: auto;
    overscroll-behavior-x: contain;

    display: flex;
    gap: 30px;
    align-items: start;
    padding: 50px;

    div {
        block-size: 300px;
        aspect-ratio: 1;
        background-color: t.$gris-light;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(t.$black, 0.3);
        position: relative;
        transition-duration: 300ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
        h5 {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 50px;
            color: t.$white;
            background: linear-gradient(to top, t.$black, transparentize(t.$black, 1));
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}
.carousel-empty {
    padding: 60px;
}

// ---------- Containers
#alert-box_dashboard {
    background-color: t.$jaune;
    color: t.$bleu;
    padding: 20px;
    border-radius: 10px;
}
#frontend_content {
    background-color: white;
    background-image:linear-gradient(135deg, transparent 0%, #fff 25%, #fff 75%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
}
#backend_content {
    margin-left: 300px;
    padding-inline: 30px;
    .entry-header {
        padding-top: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(t.$black, 0.1);
        h1 {
            font-family: t.$font-normal;
            font-weight: 700;
            font-size: 40px;
        }
    }
    .entry-content {
        padding-top: 30px;
        h2 {
            color: t.$bleu;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
}
#front-footer {
    border-top: 10px solid t.$gris-light;
    .entry-content {
        background-color: t.$bleu;
        color: t.$white;
        padding: 40px 0;
        h2 {
            font-weight: bold;
            font-size: 25px;
        }
        li {
            font-weight: 300;
            padding-top: 5px;
            &:hover {
                color: t.$jaune;
            }
        }
    }
    .entry-footer {
        background-color: t.$jaune;
        padding: 10px 0;
    }
    #footer-logo {
        width: 250px;
    }
}
#front-header {
    border-top: 20px solid t.$bleu;
    padding: 15px;
    #logo-header {
        width: 125px;
        position: absolute;
        margin-top: -45px;
        z-index: 1;
    }
    .active {
        font-weight: 700;
        border-bottom: 2px solid t.$jaune;
    }
}
#front-header_mobile {
    border-top: 20px solid t.$bleu;
    padding: 15px;
    #logo-header_mobile {
        width: 125px;
        position: absolute;
        margin-top: -45px;
        z-index: 1;
    }
    .active {
        font-weight: 700;
        border-bottom: 2px solid t.$jaune;
    }
    .menu_sidebar {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(t.$black, 0.3);
        .container-sidebar {
            z-index: 9999;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 70%;
            background-color: t.$white;
            box-shadow: 0 4px 10px rgba(t.$black, 0.4);
            .btn-sidebar_mobile {
                display: block;
                padding: 10px 20px;
                border: 1px solid t.$gris-light;
                border-radius: 10px;
            }
        }
    }
}
.container-filled {
    background-color: t.$gris-light;
    padding: 10px;
    border-radius: 10px;
}
.back_card_evenement {
    border-radius: 10px;
    overflow: hidden;
    background-color: t.$gris-light;
    img {
        width: 400px;
    }
    h2 {
        font-size: 27px!important;
        font-weight: 700;
        color: t.$bleu;
    }
    h3 {
        font-size: 20px;
        font-weight: 700;
        color: t.$bleu;
    }
    p {
        color: rgba(t.$black, 0.5);
    }
}
.tiny-content {
    h1 > span{
        font-family: t.$font-normal!important;
        color: t.$bleu;
        font-size: 32px!important;
        font-weight: 700;
    }
    h2 > span{
        font-family: t.$font-normal!important;
        color: t.$bleu;
        font-size: 25px!important;
        font-weight: 700;
    }
    h3 > span{
        font-family: t.$font-normal!important;
        color: t.$bleu;
        font-size: 20px!important;
        font-weight: 700;
    }
    h4 > span{
        font-family: t.$font-normal!important;
        color: t.$bleu;
        font-size: 18px!important;
        font-weight: 700;
    }
    p {
        padding-top: 10px;
    }
    ul {
        margin-left: 20px;

    }
    li {
        list-style: disc;
        padding-top: 10px;
    }
}
.container-float {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
}
#background_maint-1 {
    background-color: white;
    background-image:linear-gradient(135deg, transparent 0%, #fff 25%, #fff 75%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);

    .container-filled {
        img {
            width: 300px;
        }
        h1 {
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            color: t.$bleu;
        }
        p {
            color: rgba(t.$black, 0.5);
            text-align: center;
        }
    }
}
.container-shop_admin {
    border-radius: 10px;
    overflow: hidden;
    background-color: t.$gris-light;
    h2 {
        font-size: 25px!important;
    }
}
.container-shop {
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: t.$gris-light;
    overflow: hidden;
    position: relative;
    transition-duration: 300ms;
    &:hover {
        transform: scale(1.01);
        cursor: pointer;
        border: 1px solid rgba(t.$black, 0.1);
    }
    img {
        background-size: cover;
        max-width: 500px;
    }
    h2 {
        font-size: 32px;
        font-weight: 700;
        color: t.$bleu;
    }
    h3 {
        font-weight: 300;
        font-size: 20px!important;
    }

}
.container-front_evenement {
    position: relative;
    background-color: t.$gris-light;
    border-radius: 10px;
    img {
        position: absolute;
        width: 500px;
        max-height: 300px;
        background-size: cover;
        margin-left: 30px;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(t.$black, 0.4);
    }
    .content {
        margin-left: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
        h4 {
            font-size: 20px;
        }
        h5 {
            color: rgba(t.$black, 0.5);
        }
    }
}
.container-carousel_list {
    position: relative;
    margin-inline: auto;
    width: 70%;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    .buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        box-shadow: 0 4px 10px rgba(t.$black, 0.5);
    }
}
.container-primary {
    background-color: t.$bleu;
    color: t.$white;
    h5 {
        font-family: t.$font-manic;
        font-size: 30px;
    }
    .title-H2 {
        color: t.$white!important;
    }
}
.old_evenements-list {
    display: none;
    .evenement_items {
        background-color: t.$gris-light;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}
.radio_picture {
    border-radius: 10px;
    max-height: 150px;
    overflow: hidden;
    transition-duration: 300ms;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(t.$black, 0.3);
    }
    input {
        display: none;
        cursor: pointer;
    }
    label {
        background-size: cover!important;
    }

}
.profile_evenements-list {
    background-color: t.$gris-light;
    padding: 10px 30px;
    border-radius: 10px;
    img {
        width: 100px;
        border-radius: 5px;
    }
}
.container-version_actual {
    .container-version-header {
        background-color: t.$bleu;
        color: t.$white;
        padding: 20px 30px;
        border-radius: 10px;
        h4 {
            color: t.$white!important;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .container-version-content {
        background-color: t.$gris-light;
        padding: 20px 30px;
        margin-left: 30px;
        margin-top: 10px;
        border-radius: 10px;
        h5 {
            color: t.$bleu;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        li {
            list-style: disc;
            margin-left: 30px;
            margin-bottom: 3px;
        }
    }
}
.container-version_old {
    .container-version-header {
        background-color: rgba(t.$black, 0.5);
        color: t.$white;
        padding: 20px 30px;
        border-radius: 10px;
        h4 {
            color: t.$white!important;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .container-version-content {
        background-color: t.$gris-light;
        padding: 20px 30px;
        margin-top: 10px;
        margin-left: 30px;
        border-radius: 10px;
        h5 {
            color: t.$bleu;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        li {
            list-style: disc;
            margin-left: 30px;
            margin-bottom: 3px;
        }
    }
}
.product_thumbnail {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(t.$black, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 300ms;

    &:hover {
        z-index: 2;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(t.$black, 0.1);
    }

    .picture_product img {
        display: flex;
        width: auto;
        height: 150px!important;
    }

    p {
        font-weight: bold;
        font-size: 18px!important;
    }
}

// ----------- Grids
.dash-grid_item {
    background-color: t.$gris-light;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    transition-duration: 300ms;
    position: relative;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border: 1px solid rgba(t.$black, 0.1);
    }
    #grid_picture {
        background-size: cover;
        background-position: center;
        display: block;
        padding: 65px;
        border-radius: 5px;
    }
    h2 {
        color: t.$bleu;
        font-size: 40px!important;
        font-weight: 700;
        padding: 20px 0;
    }
    h3 {
        color: t.$bleu;
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    p {
        color: rgba(t.$black, 0.5);
        font-size: 18px;
    }
    .icon-up {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    .list {
        li {
            display: block;
            background-color: rgba(t.$black, 0.1);
            width: 100%;
            padding: 7px 5px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }
}
.front-grid_label {
    background-color: t.$gris-light;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 300ms;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border: 1px solid rgba(t.$black, 0.1);
    }
    &:hover button {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(t.$bleu, 0.3);
    }
    h2 {
        text-align: center;
        font-size: 18px!important;
        margin-top: 20px;
    }
    img {
        max-height: 250px;
    }
}
.front-grid_product {
    border-radius: 10px;
    overflow: hidden;
    background-color: t.$white;
    transition-duration: 300ms;
    border: 2px solid t.$gris-light;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(t.$black, 0.2);
    }
    img {
        min-height: 200px;
        max-height: 220px;
        background-size: auto;
    }
    h2 {
        font-size: 18px!important;
    }
}
.grid-engagement {
    border-radius: 10px;
    overflow: hidden;
    .grid_picture {
        background-size: cover;
        background-position: center;
    }
    .grid_first {
        padding: 70px;
        background-color: t.$white;
        color: t.$black;
        p {
            font-weight: bold;
            margin-top: 15px;
            font-size: 18px;
        }
    }
    .grid_white {
        padding: 70px;
        background-color: t.$white;
        color: t.$black;
        h3 {
            font-weight: 700!important;
            margin-bottom: 15px;
        }
    }
    .grid_yellow {
        padding: 70px;
        background-color: t.$jaune;
        color: t.$black;
        h3 {
            font-weight: 700!important;
            margin-bottom: 15px;
        }
    }
}

// ------------ Popups
.popup-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    box-shadow: 0 4px 6px #00000020;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 300ms;
}
#popup {
    .entry-header {
        background-color: t.$bleu;
        color: t.$white;
        padding: 10px 15px;
        box-shadow: 0 4px 10px rgba(t.$black, 0.2);
        h1 {
            font-size: 22px;
        }
    }
    .entry-content {
        padding: 20px;

        .info {
            background-color: t.$gris-light;
            padding: 5px 10px;
            border-radius: 5px;
            color: rgba(t.$black, 0.6);
        }
        #cover_thumbnail {
            background-color: t.$gris-light;
            width: 150px;
            height: 150px;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid rgba(t.$black, 0.1);
            color: rgba(t.$black, 0.5);
            img {
                background-size: cover;
                background-position: center;
            }
        }
        hr {
            color: rgba(t.$black, 0.1);
        }
        h2 {
            color: t.$bleu;
            font-size: 18px;
            text-align: center;
        }
        h3 {
            color: t.$bleu;
            font-size: 25px;
            font-weight: bold;
        }
        .image-preview {
            border-radius: 10px;
            box-shadow: 0 4px 13px rgba(t.$black, 0.4);
        }
    }
    .entry-footer {
        background-color: t.$gris-light;
        border: 1px solid rgba(t.$black, 0.1);
        border-radius: 5px;
        margin: 5px;
        padding: 15px 10px;

    }
}
#popup-search {
    .textfield-front-search {
        display: inline-flex;
        width: 100%;
        padding: 20px 30px;
        label {
            margin-right: 10px;
        }
        input {
            width: 100%;
        }
    }
    .entry-content {
        padding: 15px 20px;
        border-top: 1px solid rgba(t.$black, 0.1);
        h2 {
            font-size: 18px;
            font-weight: 700;
            color: t.$bleu;

        }
        .small-label {
            background-color: t.$gris-light;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid transparent;
            transition-duration: 300ms;

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                border: 1px solid rgba(t.$black, 0.1);
            }

            h3 {
                margin-top: 10px;
                font-size: 14px;
            }
        }
        .small-evenement {
            background-color: t.$gris-light;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid transparent;
            transition-duration: 300ms;

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                border: 1px solid rgba(t.$black, 0.1);
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 5px;
                margin-right: 30px;
            }
        }
    }
}

// ----------- ProgressBar
.small-progress {
    width: 100px;
    height: 5px;
    -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
    background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
    animation: smallprogress 2s infinite steps(6);
}
@keyframes smallprogress {
    100% {
        background-size: 120%;
    }
}

// ----------- Sliders
.container_slider {
    display: flex;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;

    .slider_section {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        color: #fff;
        transition: flex .4s ease;
        position: relative;

        .slider_overlay {
            background-color: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
            position: absolute;
            transition: background-color .8s ease;
        }
        .slider_content {
            z-index: 2;
            p {
                color: white;
                font-size: 32px;
                font-weight: 700;
                text-shadow: 0 4px 10px rgba(t.$black, 0.5);
            }
        }
        &:hover {
            flex: 2;
            cursor: pointer;

            .slider_overlay {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}

// ----------- Sidebars
#backend_sidebar {
    width: 300px;
    position: fixed;
    background-color: t.$gris-light;

    .entry-content {
        overflow-y: scroll;
    }

    .entry-footer {
        background-color: t.$bleu;
        box-shadow: 0 -4px 5px rgba(t.$black, 0.1);
        padding: 20px;
        h3 {
            font-family: t.$font-normal;
            font-weight: 700;
        }
        p {
            font-family: t.$font-normal;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

// --------- Tables
.table-primary {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    table {
        width: 100%;
        th {
            background-color: t.$bleu;
            color: t.$white;
            padding: 10px 0;
            padding: 10px 0;
        }
        tbody {
            tr {
                background-color: t.$gris-light;
                text-align: center;
                &:nth-child(even) {
                    background-color: rgba(t.$black, 0.1);
                }
            }
            td {
                padding: 10px 0;
            }
        }

    }
}

// ---------- Textfields
.textfield-line {
    background-color: t.$gris-light;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgba(t.$black, 0.1);
    input {
        background-color: transparent;
        font-family: t.$font-normal;
        font-weight: 300;
        margin-left: 10px;
    }
}
.textfield-line-white {
    background-color: t.$white;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgba(t.$black, 0.1);
    input {
        background-color: transparent;
        font-family: t.$font-normal;
        font-weight: 300;
        margin-left: 10px;
    }
}
.textfield {
    label {
        padding-bottom: 3px;
        padding-left: 10px;
    }
    input, textarea, select {
        display: block;
        width: 100%;
        border: 1px solid rgba(t.$black, 0.1);
        border-radius: 5px;
        background-color: t.$gris-light;
        padding: 7px 15px;
        &::placeholder {
            font-weight: 300;
        }
    }
    .text-input-error {
        color: red;
        font-size: 14px;
        padding-left: 10px;
    }
}
.textfield-white {
    label {
        padding-bottom: 3px;
        padding-left: 10px;
    }
    input, textarea, select {
        display: block;
        width: 100%;
        border: 1px solid rgba(t.$black, 0.1);
        border-radius: 5px;
        background-color: t.$white;
        padding: 7px 15px;
        &::placeholder {
            font-weight: 300;
        }
    }
    .text-input-error {
        color: red;
        font-size: 14px;
        padding-left: 10px;
    }
}
.textfield-error {
    border: 1px solid red!important;
    background-color: rgba(red, 0.1)!important;
}

// -------------- Texts
.title-line {
    padding: 20px 10px;
    h2 {
        background-color: t.$gris-light;
        position: absolute;
        margin-top: -13px;
        padding-right: 10px;
        font-weight: bold;
        font-size: 18px;
        color: t.$bleu;
    }
    hr {
        color: rgba(t.$black, 0.1);
    }
}
.title-line_big {
    padding: 50px 10px;
    h2 {
        background-color: t.$white;
        position: absolute;
        margin-top: -15px;
        padding-right: 10px;
        font-weight: bold;
        font-size: 22px;
        color: t.$bleu;
    }
    hr {
        color: rgba(t.$black, 0.1);
    }
}
.empty-text {
    background-color: t.$gris-light;
    text-align: center;
    color: rgba(t.$black, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
#frontend_page main {
    h1 {
        color: t.$bleu;
        font-weight: 700;
        font-size: 60px;
    }
    h2 {
        color: t.$bleu;
        font-weight: 700;
        font-size: 30px;
    }
    h3 {
        font-weight: 300;
        color: t.$gris_colore;
        font-size: 30px;
    }
    .title-H2 {
        color: t.$bleu;
        font-weight: 700;
        font-size: 45px;
    }
}
.text-box-error {
    color: red;
    font-size: 14px;
    background-color: rgba(red, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
}
.list-box {
    background-color: t.$gris-light;
    padding: 15px 20px;
    border-radius: 10px;
}
#icon_user-profile {
    position: absolute;
    margin-top: -20px;
    margin-left: -70px;
    background-color: t.$bleu;
    color: t.$jaune;
    font-size: 25px;
    padding: 15px 22px;
    border-radius: 100%;
}
.text-line_input {
    border-bottom: 1px solid rgba(t.$black, 0.1);
    padding-bottom: 10px;
    p {
        color: rgba(t.$black, 0.5);
        font-size: 14px;
    }
}

